body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

/* Estilos generales */
.borderRadius {
    border-radius: 20px;
    filter: grayscale(.4);
    transition: transform .3s;
}

.borderRadius:hover {
    filter: grayscale(0);
    transform: scale(1.02);
}

.borderRadiusSolo {
    border-radius: 10px;
}

/* Historia styles */

.estiloImagenesHistoria {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

@media screen and (max-width: 767px) {
    .banner-Principal {
        height: 250px;
        object-fit: cover;
        /* object-position: 70%; */
        
    }

    .alturaImagenes {
        height: 300px;
    }
    
}